<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.itheima.mobilesafe" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
        <activity
            android:name="com.itheima.mobilesafe.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.itheima.mobilesafe.HomeActivity" />
        <activity android:name="com.itheima.mobilesafe.SettingActivity" />
        <activity android:name="com.itheima.mobilesafe.LostFindActivity" />
        <activity android:name="com.itheima.mobilesafe.Setup1Activity" />
        <activity android:name="com.itheima.mobilesafe.Setup2Activity" />
        <activity android:name="com.itheima.mobilesafe.Setup3Activity" />
        <activity android:name="com.itheima.mobilesafe.Setup4Activity" />
        <activity android:name="com.itheima.mobilesafe.SelectContactActivity" />
        <activity android:name="com.itheima.mobilesafe.AtoolsActivity" />
        <activity android:name="com.itheima.mobilesafe.NumberAddressActivity" />
        <activity android:name="com.itheima.mobilesafe.BlackNumberActivity" />
        <activity android:name="com.itheima.mobilesafe.AppManagerActivity" />
        <activity android:name="com.itheima.mobilesafe.TaskManagerActivity" />
        <activity android:name="com.itheima.mobilesafe.TaskSettingActivity" />

        <receiver android:name="com.itheima.mobilesafe.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.itheima.mobilesafe.receiver.SMSReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.keniu.security.process.ProcessWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/process_widget_provider" />
        </receiver>
        
        <service android:name="com.itheima.mobilesafe.service.LocationService"></service>
        <service android:name="com.itheima.mobilesafe.service.AddressService"></service>
        <service android:name="com.itheima.mobilesafe.service.CallSmsSafeService"></service>
        <service android:name="com.itheima.mobilesafe.service.AutoClearService"></service>
        
    </application>

</manifest>